.chatroom-div{
    width: 75%;
    background-color: rgb(244, 222, 222); 
    height: 83.6vh;
    float: right;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 10px;
}

.messages-div{
    overflow-y: scroll;
    height: 100%;
}

.message-recived-div{
    margin-bottom: 4px;
}

.message-recived{
    border: 2px solid red;
    margin-right: 50%;
    margin-left: 5px;
    padding: 10px;
}

.message-sent-div{
    margin-top: 4px;
    
}

.message-sent{
    border: 2px solid green;
    margin-left: 50%;
    margin-right: 5px;
    padding: 10px;
}

.input-msg-div{
    padding-left: 10px;
    margin-bottom: 10px;
}

.input-msg{
    width: 90%;
    height: 40px;
    font-size: 20px;
    padding-left: 7px;
}

.send-btn{
    height: 40px;
    margin-left: 10px;
    background-color: rgb(155, 150, 150);
    border: none;
}

.send-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

.send-btn:active{
    opacity: 0.6
}

.chat-info-div{
    background-color: rgba(192, 192, 192, 0.525);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 2px solid black;
    height: 60px;
}

.room-name{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

.no-chatroom-msg{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(153, 150, 150);
    display: flex;
    margin-top: 150px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
}